// Base
body {
    background-color: $gray;
    font-family: $font-sans;
    color: $dark;

    .container-fluid {
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-width: 1410px;

        @media (min-width: 992px) {
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

h1, h2, h3,
h4, h5, h6 {
    font-family: $font-header;
    margin: 0 0 10px;
}

.page-title, .section-title {
    display: inline-block;
    position: relative;
    border-bottom: 3px solid $blue;
}

.page-title {
    margin: 0 0 1.2rem;
    padding: 0 0 .2rem;

    @media (min-width: 768px) {
        font-size: 2.5rem;
    }
}

.section-title {
    margin: 1.5rem 0 1rem;
    padding: 0 0 .35rem;
}

a {
    color: darken($blue, 10%);
    text-decoration: underline;
    transition: color .2s ease;

    &:hover,
    &:focus,
    &:active,
    &:hover:active {
        color: $blue;
    }
}

p {
    margin: 0 0 1rem;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.example-image {
    img {
        max-width: 427px;
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
