// Merriweather
@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather/Merriweather-Regular-webfont.eot');
    src: url('../fonts/merriweather/Merriweather-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather/Merriweather-Regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweather/Merriweather-Regular-webfont.woff') format('woff'),
         url('../fonts/merriweather/Merriweather-Regular-webfont.ttf') format('truetype'),
         url('../fonts/merriweather/Merriweather-Regular-webfont.svg#Open Sans') format('svg');
    font-weight: 400;
    font-style: normal;
}

// Open Sans
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.svg#Open Sans') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Semibold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Semibold-webfont.svg#Open Sans') format('svg');
    font-weight: 600;
    font-style: normal;
}
